
.ipynb_checkpoints/taxi_fare_nn_pytorch-checkpoint.ipynb
.ipynb_checkpoints/MNIST_classifier_FF_NN_pytorch-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/MNIST_classifier_CNNs_PyTorch-checkpoint.ipynb
.ipynb_checkpoints/MNIST_classifier_ANNs_PyTorch-checkpoint.ipynb
.ipynb_checkpoints/CIFAR-CNN-PyTorch-checkpoint.ipynb
.ipynb_checkpoints/Custom-Images-CNN-PyTorch-checkpoint.ipynb
.ipynb_checkpoints/Fashion-MNIST-CNN-PyTorch-checkpoint.ipynb
.ipynb_checkpoints/Basic-RNN-PyTorch-checkpoint.ipynb
.ipynb_checkpoints/Funny-NLP-project-LSTM-PyTorch-checkpoint.ipynb
.ipynb_checkpoints/Deep-Conv-GANs-MNIST-Keras-checkpoint.ipynb
.ipynb_checkpoints/MNIST-classifier-KERAS-checkpoint.ipynb
.ipynb_checkpoints/CIFAR10-CNN-PyTorch-checkpoint.ipynb
.ipynb_checkpoints/CIFAR10-Tensorflow2-Keras-checkpoint.ipynb
.DS_Store
.ipynb_checkpoints/Autoencoder-for-dim-reduction-Keras-checkpoint.ipynb
.ipynb_checkpoints/Autoencoder-for-Images-Keras-checkpoint.ipynb
.ipynb_checkpoints/approximating math functions with NNs-checkpoint.ipynb
.ipynb_checkpoints/mnist-keras-kaggle-checkpoint.ipynb
.ipynb_checkpoints/tf-custom-training-loop-checkpoint.ipynb
model.png
Data/.DS_Store
.ipynb_checkpoints/C3W1_Assignment-checkpoint.ipynb
.ipynb_checkpoints/tf-caltech_birds2011-checkpoint.ipynb
.ipynb_checkpoints/RL-examples-checkpoint.ipynb
.ipynb_checkpoints/xgboost_example-checkpoint.ipynb
*.xml
rl/.ipynb_checkpoints/gridworld-checkpoint.ipynb
rl/gridworld/__pycache__/policy.cpython-38.pyc
rl/gridworld/__pycache__/gridworld.cpython-38.pyc
rl/.idea/rl.iml
.ipynb_checkpoints/Bidirectional LSTM on IMDB-checkpoint.ipynb
Hands-on ML/.ipynb_checkpoints/titanic-checkpoint.ipynb
Hands-on ML/.ipynb_checkpoints/mnist-checkpoint.ipynb
.ipynb_checkpoints/neural-arithmetics-checkpoint.ipynb
Bayesian_LSTM/.ipynb_checkpoints/my_bayesian_lstm-checkpoint.ipynb
